.container
  .row.col-lg-12 data-animation-effect="fadeInUpSmall" data-effect-delay="200"
    .embed-responsive.embed-responsive-16by9
      = image_tag("//www.youtube.com/embed/#{@video.youtube_id}", alt: "")
    = social_share_button_tag(@article.title)




<div class="container">
    <div class="row col-lg-12" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
      <!-- img -->
      <div class="embed-responsive embed-responsive-16by9"> <img class="embed-responsive-item" src="https://dl.dropboxusercontent.com/u/44080611/%E5%8F%B8%E6%94%B9%E6%A8%A1%E6%93%AC%E6%B3%95%E5%BA%AD-02.jpg" alt=""> </div>
      <!--fb like -->
      <div class="fb-like" data-href="https://www.jrf.org.tw" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
      <!-- 內文開始 -->
      <h1 class="title text-center">人民參與審判</h1>
      <div class="separator"></div>
      <P>人民參與審判制度，根據人民介入的力道深淺，可概分為英美實施的陪審制、德日實施的參審制。目前台灣司法院想推動的叫觀審制，有一點點綜合的味道，但人民的介入程度，卻都是最淺的。</P>
      <blockquote>
        <p>文案文案文案文案文案文案文案文案文案人民參與審判制度，根據人民介入的力道深淺，可概分為英美實施的陪審制、德日實施的參審制。目前台灣司法院想推動的叫觀審制，有一點點綜合的味道，但人民的介入程度，卻都是最淺的。人民參與審判制度，根據人民介入的力道深淺，可概分為英美實施的陪審制、德日實施的參審制。目前台灣司法院想推動的叫觀審制，有一點點綜合的味道，但人民的介入程度，卻都是最淺的。</font></p>
        <p>文案文案文案文案文案文案文案文案文案人民參與審判制度，根據人民介入的力道深淺，可概分為英美實施的陪審制、德日實施的參審制。目前台灣司法院想推動的叫觀審制，有一點點綜合的味道，但人民的介入程度，卻都是最淺的。</p>
      </blockquote>
      <P>文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文人民參與審判制度，根據人民介入的力道深淺，可概分為英美實施的陪審制、德日實施的參審制。目前台灣司法院想推動的叫觀審制，有一點點綜合的味道，但人民的介入程度，卻都是最淺的。案文案人民參與審判制度，根據人民介入的力道深淺，可概分為英美實施的陪審制、德日實施的參審制。目前台灣司法院想推動的叫觀審制，有一點點綜合的味道，但人民的介入程度，卻都是最淺的。</P>
      <h2><a href="http://www.judicial.gov.tw/Guan-Shen/download/%E9%99%84%E4%BB%B645%EF%BC%9A%E7%AB%8B%E6%B3%95%E5%A7%94%E5%93%A1%E6%9F%AF%E5%BB%BA%E9%8A%98%E7%AD%89%E4%BA%BA%E6%89%80%E6%8F%90%E7%89%88%E6%9C%AC%E3%80%8C%E5%9C%8B%E6%B0%91%E5%8F%83%E8%88%87%E5%88%91%E4%BA%8B%E5%AF%A9%E5%88%A4%E6%B3%95%E8%8D%89%E6%A1%88%E3%80%8D.pdf" target="_blank">民間版《國民參與刑事審判法》草案</a></h2>
      <h2>FAQ</h2>
      <div class="separator-2"></div>
      <!-- FAQ start -->
      <div class="panel-group" id="accordion-faq">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseOne" class="collapsed"> <i class="fa fa-question-circle pr-10"></i> 人民參與審判制度想解決怎樣的問題？ </a> </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>每個制度都有不同之處，也都有主要想解決的問題。</p>
              <p>台灣的司法問題是：恐龍法官＆人民不信任司法。一直以來，許多司法判決，背離人民的期待。因此，媒體已經習慣用「恐龍法官」，來稱呼作出這種背離人民期待判決的法官。久之也造成許多人不信任法官、不信任司法制度。</p>
              <p>這些問題當然不只有在台灣出現，世界各國也有類似的問題。因此許多國家都推動人民參與審判制度，希望讓人民進入司法的審判過程，讓審判結果更貼近民意，能讓人民滿意。</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwo" class="collapsed"> <i class="fa fa-question-circle pr-10"></i> 人民參與與審判制度有哪些種類？ </a> </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>人民參與審判制度，根據人民介入的力道深淺，可概分為英美實施的陪審制、德日實施的參審制，以及韓國採用的觀審制。目前台灣司法院想推動的叫觀審制，有一點綜合的味道，但人民的介入程度，卻是最淺的。</p>
              <p>陪審制，是由人民組成陪審團做裁判，有罪、無罪完全是由人民直接做出判決。在陪審制中，法官只能主持審理程序，或是在判定有罪後決定刑期。這樣的設計，是為了讓權力分立，互相制衡。</p>
              <p>德日實施的參審制，是比較折衷的制度。相較於英美國家，德日的人民非常信任職業法官，這點和我國是極大的不同。他們不在意法官和人民之間是否要設計權力分立制衡的機制，也比較不會像陪審制一樣，嚴厲禁止法官干預、影響陪審員的獨立判斷。</p>
              <p>以日本的「裁判員」制度為例，人民和法官在法庭上不但坐在一起，還可一起討論案情。只是，由於人民信任法官，不懂法律的人民容易被法官牽著鼻子走。不過，裁判員可對判決投票，因此在極端的情形下，法官如果無法說服裁判員，裁判員可用投票方式推翻法官的見解，因此判決上仍然較觀審制接近民意。</p>
              <p>只是，日本人很少挑戰法院的判決。日本和我國相似，一般人民對司法很疏離。日本的裁判員制度，是希望藉此可以「推動法治教育」，拉近司法和人民的距離。</p>
              <p>此次台灣司法院要推動的觀審制，在光譜上，是「最弱」的設計。參與審判的人民沒有投票權，雖然可以說說話、表示意見，但也是僅供給法官「參考」。就我國人民對法官的信任度，台灣應當採用英美國家的「陪審制」，以權力分立制衡法官的見解。司法院的這種設計，事實上就是仍讓法官保有幾近全部的掌控權，基本上是對人民不友善的制度設計。</p>
              <p>這樣的制度無法讓判決貼近民意。因為觀審制保留了日本裁判員制度的作法，讓法官和人民坐在一起、也可以一起討論，就等於是保留了讓法官影響人民的機會，法官的權力沒有被削弱。判決不接近民意時，法官也不一定會被民意挑戰、排除，只要在判決書中說明理由即可。推行接近台灣觀審制度的韓國，就曾發生類似的爭議。</p>
              <p>2013年10月29日，韓國又石大學教授安度眩（在野陣營候選人文在寅的親信）於2012年總統大選期間，在自己的推特上發表對候選人朴槿惠與其父朴正熙的批判言論，被以散佈不實謠言、毀謗候選人等罪名起訴。在法庭上，7位陪審員一致作出無罪評決，法院卻決定延期宣判，10天後作出部分無罪的判決，毀謗候選人的罪名成立，引發許多韓國民眾的不滿。</p>
              <p>由此例可知，司法院的觀審制，十分沒有誠意。這是許多民間團體之所以要反對觀審制的主要原因。</p>
              <table class="table table-bordered">
                <tr bgcolor="#FFFFCC">
                  <th></th>
                  <th>陪審</th>
                  <th>參審</th>
                  <th>觀審</th>
                </tr>
                <tr>
                  <th bgcolor="#FFFFCC">主要特色</th>
                  <td>分工<br />
                    人民負責事實認定；<br />
                    法官負責法律適用</td>
                  <td>合作<br />
                    法官與人民一起<br />
                    進行事實認定及法律適用</td>
                  <td>合作<br />
                    法官與人民一起<br />
                    進行事實認定及法律適用</td>
                </tr>
                <tr>
                  <th bgcolor="#FFFFCC">參與審判人民<br />
                    在法庭的席位</th>
                  <td>獨立一區</td>
                  <td>與法官坐在一起</td>
                  <td>與法官坐在一起</td>
                </tr>
                <tr>
                  <th bgcolor="#FFFFCC">參與審判人民的職權</th>
                  <td>獨力進行事實認定</td>
                  <td>與法官一起討論罪刑與決定刑度</td>
                  <td bgcolor="#CCCCCC">參與審判人民提供意見<br />
                    審判結果由法官另行決定</td>
                </tr>
              </table>
              <p>（參自<a href="http://www.judicial.gov.tw/Guan-Shen/intro05.asp" target="_blank">司法院觀審、陪審、參審比較表</a>）</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFour" class="collapsed"> <i class="fa fa-question-circle pr-10"></i> 民間團體想推動的人民參與審判制度有哪些內容？ </a> </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>民間團體所提出的民間版本有以下特色：</p>
              <ol>
                <li>陪審團來自人民，而成員經由原告、被告雙方同意挑選或剔除，可有效防止政治惡意操作對陪審團之人身攻擊，確保司法信任度。</li>
                <li>針對本刑最輕3年以上，或是司法院特別規定的案件適用。</li>
                <li>陪審員從頭到尾全程參與第一審法院的審判程序。</li>
                <li>9個人組成陪審團，並以超過2/3的陪審員同意後做出有罪或無罪的判決。由這些人先認定事實，接著由法官帶領這些陪審員討論刑度，由陪審團以過半數陪審員之同意，提出科刑建議。</li>
                <li>陪審員獨立做出判決，禁止法官影響。</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFive" class="collapsed"> <i class="fa fa-question-circle pr-10"></i> 司法院的人民觀審制有哪些內容？ </a> </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p>根據司法院的資料，人民觀審制係其主要內容包含：</p>
              <ol>
                <li>依一定程序選出人民擔任觀審員。</li>
                <li>針對一些重罪案件。</li>
                <li>觀審員從頭到尾全程參與第一審法院的審判程序。</li>
                <li>中間討論由法官向觀審員、備位觀審員說明並交換意見之程序。終局評議經審判長整理觀審員之多數意見，並由法官三人評議之程序。如法官之評議與觀審員之多數意見不一致者，並應簡要說明其理由。</li>
                <li>觀審員在法官下判決結論時，<strong>沒有表決權，但有表示權</strong>，表達觀審意見，提供法官下判決的參考。<strong>如法官不採納時，應敘明何以不採納觀審員意見之理由</strong>。</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSix" class="collapsed"> <i class="fa fa-question-circle pr-10"></i> 為什麼民間團體反對司法院的觀審制？ </a> </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <p>我國獨創之觀審制，強調人民擁有與法官意見交流之機會、訊問被告、證人之權利，然而人民參與審判之核心概念，應是人民在法官下判決結論時，能夠制衡法官，而非法官說了算。司法院人民觀審制直接排除該可能，僅賦予人民表示權，換言之法官採納與否的標準不清楚，不採納也僅需在判決書中敘明理由。
                另一方面，同為觀審制的韓國，近年各方也對觀審制有諸多批評，司法院如果繼續抱持非觀審不可的心態，就怕走進司改死胡同，重創司法威信。 </p>
              <p>我國司法長期為人所詬病的，無非是恐龍法官、司法威權、缺乏公信力等，今天將人民的角色引入審判程序固然值得稱許，但作為核心意義的表決權才是司法民主化的關鍵，更是信任人民的表現。 </p>
              <p>賦予人民表決權，象徵來自社會各階層人士對於該案件的想法，多元的觀點，才能讓判決更能貼近社會。此外法律素人對於案件的事實認定，來自於個人日常生活的經驗，與法官並無二致。另一方面，法律適用的確需要法律知識，但這是法律如何與社會對話的關鍵，法律既是規範日常生活，法律人即應努力讓別人瞭解法律的意義。</p>
              <p>人民參與審判，為最好的法治教育，唯有賦予表決權，「<strong>既給觀、又給審</strong>」，才能踏出司法民主化的第一步。 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FAQ end -->
    <!-- 內文結束 -->
  </div>
</div>
<!-- keyword end -->
<!-- 相關訊息 start -->
<!-- ================ -->
<div class="section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>相關訊息</h2>
        <div class="separator-2"></div>
        <!-- isotope filters start -->
        <div class="filters">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#" data-filter="*">所有</a></li>
            <!-- 未使用到的遊離keyword隱藏 -->
            <li><a href="#" data-filter=".jrf-news">新聞稿</a></li>
            <li><a href="#" data-filter=".jrf-active">活動</a></li>
            <li><a href="#" data-filter=".jrf-article">評論文章</a></li>
            <li><a href="#" data-filter=".jrf-epaper">電子報</a></li>
            <li><a href="#" data-filter=".jrf-publish">書籍</a></li>
          </ul>
        </div>
        <!-- isotope filters end -->
        <!-- portfolio items start -->
        <div class="image-boxs isotope-container row">
          <!-- 預設9則 -->
          <!-- 1 start -->
          <div class="col-sm-6 col-md-4 isotope-item jrf-news">
            <div class="image-box"> <a href="article.html"><img src="https://dl.dropboxusercontent.com/u/44080611/%E5%8F%B8%E6%94%B9%E6%A8%A1%E6%93%AC%E6%B3%95%E5%BA%AD-02.jpg" alt=""></a> <small>2014/7/26</small>
              <h4><a href="article.html">針對最高法院駁回王心愷上訴案（324行政院暴力驅離自訴案）</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 1 end -->
          <!-- 2 start -->
          <div class="col-sm-6 col-md-4 isotope-item jrf-active">
            <div class="image-box"> <a href="article.html"><img src="http://www.jrf.org.tw/newjrf/img/20141225.jpg" alt=""></a> <small>2014/7/26</small>
              <h4><a href="article.html">蔡學良案法庭觀察：在巨靈的陰影下，我們都是孤單的</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 2 end -->
          <!-- 3 start -->
          <div class="col-sm-6 col-md-4 isotope-item jrf-article">
            <div class="image-box"> <a href="article.html"><img src="http://www.jrf.org.tw/newjrf/img/20150402-1.jpg" alt=""></a> <small>2014/7/26</small>
              <h4><a href="article.html">法務部掐死自己小孩</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 高榮志</small> </div>
          </div>
          <!-- 3 end -->
          <!-- 4 start -->
          <div class="col-sm-6 col-md-4 isotope-item jrf-article">
            <div class="image-box"> <a href="article.html"><img src="http://www.jrf.org.tw/newjrf/img/20150402.jpg" alt=""></a> <small>2014/7/26</small>
              <h4><a href="article.html">不能「已讀不回」的支付命令？</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 4 end -->
          <!-- 5 start -->
          <div class="col-sm-6 col-md-4 isotope-item jrf-news">
            <div class="image-box"> <a href="article.html"><img src="https://dl.dropboxusercontent.com/u/44080611/%E5%8F%B8%E6%94%B9%E6%A8%A1%E6%93%AC%E6%B3%95%E5%BA%AD-02.jpg" alt=""></a> <small>2014/7/26</small>
              <h4><a href="article.html">針對最高法院駁回王心愷上訴案（324行政院暴力驅離自訴案）</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 5 end -->
          <!-- 6 start -->
          <div class="col-sm-6 col-md-4 isotope-item jrf-epaper">
            <div class="image-box"> <a href="article.html"><img src="http://www.jrf.org.tw/newjrf/img/20150224.jpg" alt=""></a> <small>2014/7/26</small>
              <h4><a href="article.html">正義徐來，自強無罪—無論千日萬日，總待正義花開</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 6 end -->
          <!-- 7 start -->
          <div class="col-sm-6 col-md-4 isotope-item jrf-epaper">
            <div class="image-box"> <a href="article.html"><img src="http://www.jrf.org.tw/newjrf/img/20150213.jpg" alt=""></a> <small>2014/7/26</small>
              <h4><a href="article.html">他者的排除，必須保衛的社會</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 7 end -->
          <!-- 8 start -->
          <div class="col-sm-6 col-md-4 isotope-item jrf-publish">
            <div class="image-box"> <a href="article.html"><img src="http://www.jrf.org.tw/newjrf/img/20150122.jpg" alt=""></a> <small>2014/7/26</small>
              <h4><a href="article.html">正義的陰影</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 8 end -->
          <!-- 9 start -->
          <div class="col-sm-6 col-md-4 isotope-item jrf-publish">
            <div class="image-box"> <a href="article.html"><img src="http://www.jrf.org.tw/newjrf/img/20150122.jpg" alt=""></a> <small>2014/7/26</small>
              <h4><a href="article.html">正義的陰影</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 9 end -->
        </div>
        <!-- portfolio items end -->
        <!-- pagination start -->
        <div class="col-md-10 col-md-offset-1 text-center">
          <ul class="pagination">
            <li><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
        <!-- pagination end -->
      </div>
    </div>
  </div>
</div>
<!-- 相關訊息 end -->
<!-- videos start -->
<!-- ================ -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>相關影音</h2>
        <div class="separator-2"></div>
        <!-- 影音 start -->
        <div class="isotope-container row">
          <!-- 預設3則 start -->
          <!-- 1 start -->
          <div class="col-sm-6 col-md-4 col-xs-12 isotope-item">
            <div class="image-box"> 
            <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Rfrl-YvHAu4"></iframe>
                </div> 
                <small>2014/7/26</small>
              <h4><a href="video.html">把人關起來就好了嗎？談監獄政策</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 1 end -->
          <!-- 1 start -->
          <div class="col-sm-6 col-md-4 col-xs-12 isotope-item">
            <div class="image-box"> 
            <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Rfrl-YvHAu4"></iframe>
                </div> 
                <small>2014/7/26</small>
              <h4><a href="video.html">把人關起來就好了嗎？談監獄政策</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 1 end -->
          <!-- 1 start -->
          <div class="col-sm-6 col-md-4 col-xs-12 isotope-item">
            <div class="image-box"> 
            <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Rfrl-YvHAu4"></iframe>
                </div> 
                <small>2014/7/26</small>
              <h4><a href="video.html">把人關起來就好了嗎？談監獄政策</a></h4>
              <small><i class="fa fa-user pr-5"></i> by 民間司改會</small> </div>
          </div>
          <!-- 1 end -->

        </div>
        <!-- 影音 end -->
        <!-- pagination start -->
        <div class="row text-center">
          <div class="col-md-10 col-md-offset-1">
            <ul class="pagination">
              <li><a href="#">«</a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">»</a></li>
            </ul>
          </div>
        </div>
        <!-- pagination end -->
      </div>
    </div>
  </div>
</div>
<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
<!-- ================ -->
<footer id="footer">
  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-content">
            <div class="logo-footer"><img id="logo-footer" src="images/logo-footer.png" alt="財團法人民間司法改革基金會"></div>
            <div class="row">
              <div class="col-sm-4">
                <p>民間司法改革基金會成立於1995年11月。主要工作為法案推動、監督評鑑、個案追蹤與教育推廣。改革的力量必須由下而上，只有經由民間的推力，才能讓改革的夢想成為真實，最終建立人民信賴的司法。</p>
                <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br>
                  網站內容由<span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">民間司法改革基金會</span>製作，以<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">創用CC 姓名標示-相同方式分享 4.0 國際 授權條款</a>釋出。</p>
              </div>
              <div class="col-sm-4">
                <ul class="list-icons">
                  <li><i class="fa fa-phone pr-10"></i> 02-2523-1178</li>
                  <li><i class="fa fa-fax pr-10"></i> 02-2531-9373</li>
                  <li><i class="fa fa-envelope-o pr-10"></i> <a href="mailto:contact@jrf.org.tw">contact@jrf.org.tw</a></li>
                  <li><i class="fa fa-map-marker pr-10"></i>
                    <p>104-56台北市中山區松江路90巷3號7樓 <a href="https://www.google.com.tw/maps/place/104%E5%8F%B0%E5%8C%97%E5%B8%82%E4%B8%AD%E5%B1%B1%E5%8D%80%E6%9D%BE%E6%B1%9F%E8%B7%AF90%E5%B7%B73%E8%99%9F/@25.0506453,121.5320561,17z/data=!3m1!4b1!4m2!3m1!1s0x3442a96145428ecd:0xa5eb2a4406a3a002" target="_blank"><span class="badge">Map</span></a><br>
                      Fl.7, No.3, Lane 90, Song-Chiang Rd., Taipei City 10456, Taiwan</p>
                  </li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h4 style="color:#b73c5a">申訴不適任法官、檢察官</h4>
                <ul class="list-icons">
                  <li>來會請務必先電話預約</li>
                  <li><i class="fa fa-phone pr-10"></i> 02-2542-1958（週一~週五 14:00~17:30）</li>
                  <li><i class="fa fa-envelope-o pr-10"></i><a href="mailto:case@jrf.org.tw">case@jrf.org.tw</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->
</footer>