h1 Editing magazine_article

= simple_form_for(@magazine_article, html: {class: 'form-horizontal center' }) do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to 'Show', magazine_article_path(@magazine_article), class: "btn"
= link_to 'Back', magazine_articles_path, class: "btn"
